name: Shell
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest ]
        ruby: [ ruby, jruby ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        windows-toolchain: none
    - run: ruby test.rb
