name: Shell
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      version:
        description: "TruffleRuby Version"
        required: false
        default: 'default'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        ruby: [ ruby ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        windows-toolchain: none
    - run: echo "${{ inputs.version }}"
    - run: ruby test.rb
