name: Shell
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: touch truffleruby-jvm.tar.gz
    - run: touch truffleruby-native.tar.gz
    - run: ls -l
    - uses: actions/upload-artifact@v4
      with:
        name: foo
        path: ${{ github.workspace }}/truffleruby-*.tar.gz
  get:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: foo
    - run: ls -l
    - run: ls -l *
