name: Shell
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-14, macos-15, macos-15-intel ]
        ruby: [ ruby ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: ruby test.rb
    - run: ls -l /Applications
    - run: ls -l /Applications | grep -i Xcode
    - run: xcrun --show-sdk-path
    - run: xcrun --sdk macosx --show-sdk-version
    - run: ls /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs
